@use "sass:map";
@use "./var";

@import "./core";
@import "./base.css";

h1 {
  font-size: 46px;
  font-weight: 300;
  color: var.$color-primary-dark;
  margin-bottom: map-get(var.$spaces, "l");
}

.el-form-item {
  margin-bottom: map-get(var.$spaces, "m") !important;
}

.el-button + .el-button {
  margin-left: unset !important;
}